*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;  
}

body {
    background: url('./background.jpeg') center/cover no-repeat; 
    position: relative; 
    width: 100%; 
    height: 100%;
}

.modal {
    width: 400px;
    height: 150px;
    margin: 350px auto;
    background-color: rgb(243, 247, 247);
    border-radius: 20px;
    text-align: center;
}

.modal.close {
    display: none;
}

.modal-header {
    padding-top: 15px;
    font-size: 24px;
}

.modal-btn {
    margin-top: 30px;
    text-transform: uppercase;
    background: rgb(73, 166, 233);
    color: rgb(255, 255, 255);
    padding: 8px 15px;
    letter-spacing: 1.5;
    display: inline-block;
    transition: all 0.3s linear;
    border: 2px solid rgb(73, 166, 233);
    font-size: 16px;    
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
 }

 .modal-btn:hover {
    background: rgb(255, 255, 255);
    border: 2px solid rgb(73, 166, 233);
    color: rgb(73, 166, 233);
 }
 
.modal-overlay { 
    position: relative;   
    width: 500px;
    height: 200px;
    margin: 350px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    display: none;
}

.modal-overlay h2 {
    padding-top: 15px;
    font-size: 36px;    
}

.modal-overlay p {
    padding-top: 35px;
    font-size: 20px;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 15px 0px 0px;
    font-size: 24px;
    color: rgb(192, 56, 32);
    cursor: pointer;
}

.modal-overlay.open {
    display: block;
}